body{
    font-size: 20px;
}
.heading{
        padding; 30px 40px;
        background-color: #f44336;
        color: white;
        text-align: center;
        width: 77%;
        margin: 30px auto;
        
}
.heading:after{
    content:" ";
    display: table;
    clear:both;

}
.task_input {
align-content: center;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin: 10px auto;
    
  }

  /* Style in the "Add" button */
  .add_btn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .add_btn:hover {
    background-color: #bbb;
  }
  table{
      width: 50%;
      margin: 30px auto;
      border-collapse:collapse;
     
  }
  tr{
      border-bottom: 1px solid black;
  }
  th{
      font-size: 26px;
      color: red;
  }
  th,td{
      border:none;
      height: 30px;
      padding:2px;
  }
  tr:hover{
      background: #e9e9e9;
  }
  .task{
      text-align: left;
      
  }
  form p{
      color:red;
      margin: 0px;
  }
  .delete{
      text-align: center;
  }
  .delete a{
      color:white;
      background: #a52a2a;
      padding: 1px 6px;
      border-radius: 3px;
      text-decoration: none;
  }